Explanation of the data: Code and Name: are identifiers for the hospital Attendance numbers: Type 1 Departments - Major A&E: This is the area of the Emergency Department where the more serious patients go. Type 2 Departments - Single Specialty: These are speciality Emergency departments for example a Paediatric department. Type 3 Departments - Other A&E/Minor Injury Unit: Minor Injury Units are basically walk-in clinics for minor ailments, fractures, rashes etc. These have more available resources than a Doctor's surgery but operate similarly in an ambulant fashion. Total attendances: The total of the above. 4 hours to decision: This is the number of patients who left the Emergency Department within 4 hours of attending (4 Hours is an NHS target). This means they could be discharged, referred somewhere else or admitted to a ward.

Emergency Admission: These are the number of people that were admitted to a ward from any of the Emergency Department types. Additionally, there is the column: 'Other Emergency admissions (i.e. not via A&E)' for patients who were admitted from somewhere else. This could be a doctor's surgery for example.

Long stays Some patients stay in the emergency department for a long time for different reasons. These figures are given in: Number of patients spending >12 hours from decision to admit to admission'. Again this is a target monitored by the NHS

##  Correlation analysis

In [33]:
#Load the relevant libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
# Load the dataset

df = pd.read_csv("cleaned_AE_attendances_england_monthly.csv")
df.head(3)

,Unnamed: 0,date,name,type_1_departments_major_a&e,type_2_departments_single_specialty,type_3_departments_other_a&e_minor_injury_unit,total_attendances,type_1_4_hours_decision,type_2_4_hours_decision,type_3_4_hours_decision,pct_in_4_hours_or_less,emergency_adm_type_1_a&e,emergency_adm_type_2_a&e,emergency_adm_type_3_a&e,other_emergency_adm,patients_12hr_decision_admission,month,year,lat,lon
0,0,2010-11-01,Aintree University Hospitals NHS Foundation Trust,4622.0,0.0,0.0,4622.0,7.0,0.0,0.0,2.995435,1406.0,0.0,0.0,530.0,0.0,44.0,8040.0,53.461606,-2.943427
1,1,2010-11-01,Airedale NHS Trust,3965.0,0.0,0.0,3965.0,65.0,0.0,0.0,3.934107,892.0,0.0,0.0,568.0,0.0,44.0,8040.0,52.216046,-1.794117
2,2,2010-11-01,Alder Hey Children’S NHS Foundation Trust,4541.0,0.0,0.0,4541.0,71.0,0.0,0.0,3.937936,1825.0,0.0,0.0,270.0,0.0,44.0,8040.0,50.183000,-5.416000

In [37]:
#Drop the unnamed columns

df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [39]:
df.head(2)

,date,name,type_1_departments_major_a&e,type_2_departments_single_specialty,type_3_departments_other_a&e_minor_injury_unit,total_attendances,type_1_4_hours_decision,type_2_4_hours_decision,type_3_4_hours_decision,pct_in_4_hours_or_less,emergency_adm_type_1_a&e,emergency_adm_type_2_a&e,emergency_adm_type_3_a&e,other_emergency_adm,patients_12hr_decision_admission,month,year,lat,lon
0,2010-11-01,Aintree University Hospitals NHS Foundation Trust,4622.0,0.0,0.0,4622.0,7.0,0.0,0.0,2.995435,1406.0,0.0,0.0,530.0,0.0,44.0,8040.0,53.461606,-2.943427
1,2010-11-01,Airedale NHS Trust,3965.0,0.0,0.0,3965.0,65.0,0.0,0.0,3.934107,892.0,0.0,0.0,568.0,0.0,44.0,8040.0,52.216046,-1.794117