## Performance analysis for NHS Ambulance services

Explanation of the data:
Code and Name: are identifiers for the hospital
Attendance numbers:
Type 1 Departments - Major A&E: This is the area of the Emergency Department where the more serious patients go.
Type 2 Departments - Single Specialty: These are speciality Emergency departments for example a Paediatric department.
Type 3 Departments - Other A&E/Minor Injury Unit: Minor Injury Units are basically walk-in clinics for minor ailments, fractures, rashes etc. These have more available resources than a Doctor's surgery but operate similarly in an ambulant fashion.
Total attendances: The total of the above.
4 hours to decision:
This is the number of patients who left the Emergency Department within 4 hours of attending (4 Hours is an NHS target). This means they could be discharged, referred somewhere else or admitted to a ward.

Emergency Admission:
These are the number of people that were admitted to a ward from any of the Emergency Department types. Additionally, there is the column: 'Other Emergency admissions (i.e. not via A&E)' for patients who were admitted from somewhere else. This could be a doctor's surgery for example.

Long stays
Some patients stay in the emergency department for a long time for different reasons. These figures are given in: Number of patients spending >12 hours from decision to admit to admission'. Again this is a target monitored by the NHS.

In [50]:
# Load the relevant libraries and load the data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import KNNImputer

In [51]:
df = pd.read_csv("AE_attendances_england_monthly.csv")

In [52]:
df.head(3)

,Unnamed: 0,date,Name,Type 1 Departments - Major A&E,Type 2 Departments - Single Specialty,Type 3 Departments - Other A&E/Minor Injury Unit,Total attendances,Type 1 Departments - 4 hours to decision,Type 2 Departments - 4 hours to decision,Type 3 Departments - 4 hours to decision,Percentage in 4 hours or less (all),Emergency Admissions via Type 1 A&E in 4 hours,Emergency Admissions via Type 2 A&E in 4 hours,Emergency Admissions via Type 3 and 4 A&E in 4 hours,Other Emergency admissions (i.e not via A&E),Number of patients spending >12 hours from decision to admit to admission,month,year,lat,lon
0,0,2010-11-01,Aintree University Hospitals NHS Foundation Trust,4622.0,0.0,0.0,4622.0,7.0,0.0,0.0,2.995435,1406.0,0.0,0.0,530.0,0.0,44.0,8040.0,53.461606,-2.943427
1,1,2010-11-01,Airedale NHS Trust,3965.0,0.0,0.0,3965.0,65.0,0.0,0.0,3.934107,892.0,0.0,0.0,568.0,0.0,44.0,8040.0,NaN,NaN
2,2,2010-11-01,Alder Hey Children’S NHS Foundation Trust,4541.0,0.0,0.0,4541.0,71.0,0.0,0.0,3.937936,1825.0,0.0,0.0,270.0,0.0,44.0,8040.0,50.183000,-5.416000

## Exploring the Data

In [53]:
# Use the shape function to get the dimension of the dataset

df.shape

(27112, 20)

In [54]:
# Use the describe function to get the statistics of the dataset

df.describe()

,Unnamed: 0,Type 1 Departments - Major A&E,Type 2 Departments - Single Specialty,Type 3 Departments - Other A&E/Minor Injury Unit,Total attendances,Type 1 Departments - 4 hours to decision,Type 2 Departments - 4 hours to decision,Type 3 Departments - 4 hours to decision,Percentage in 4 hours or less (all),Emergency Admissions via Type 1 A&E in 4 hours,Emergency Admissions via Type 2 A&E in 4 hours,Emergency Admissions via Type 3 and 4 A&E in 4 hours,Other Emergency admissions (i.e not via A&E),Number of patients spending >12 hours from decision to admit to admission,month,year,lat,lon
count,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,19102.000000,19102.000000
mean,13555.500000,4869.897499,195.986664,2443.076608,7508.960771,1740.345235,64.784228,957.586050,2.234394,1362.780134,6.543966,14.841030,492.760586,0.973407,14.809937,4938.091804,52.216046,-1.794117
std,7826.704585,5514.645104,713.439553,3085.216457,6683.428695,3389.849054,429.312711,2366.652543,1.665038,1577.655156,65.205515,111.320623,665.629857,8.816612,14.266937,3326.360831,1.482822,6.634475
min,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2010.000000,40.764096,-83.695900
25%,6777.750000,0.000000,0.000000,0.000000,2458.000000,0.000000,0.000000,0.000000,0.910265,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2017.000000,51.416667,-2.166667
50%,13555.500000,4197.000000,0.000000,1464.000000,5966.500000,173.000000,0.000000,0.000000,1.000000,1065.500000,0.000000,0.000000,217.000000,0.000000,9.000000,2020.000000,52.128857,-1.266667
75%,20333.250000,8379.750000,0.000000,3646.000000,10783.250000,1357.000000,0.000000,309.000000,3.941170,2359.000000,0.000000,0.000000,789.000000,0.000000,20.000000,8052.000000,53.208611,-0.281600
max,27111.000000,62312.000000,17570.000000,36710.000000,85576.000000,41194.000000,16308.000000,35992.000000,5.000000,21628.000000,4424.000000,3032.000000,7476.000000,417.000000,60.000000,10075.000000,55.181000,1.723500

In [55]:
# Check for null values and Nan Values

df.isnull().sum()

Unnamed: 0                                                                      0
date                                                                            0
Name                                                                            4
Type 1 Departments - Major A&E                                                  0
Type 2 Departments - Single Specialty                                           0
Type 3 Departments - Other A&E/Minor Injury Unit                                0
Total attendances                                                               0
Type 1 Departments - 4 hours to decision                                        0
Type 2 Departments - 4 hours to decision                                        0
Type 3 Departments - 4 hours to decision                                        0
Percentage in 4 hours or less (all)                                             0
Emergency Admissions via Type 1 A&E in 4 hours                                  0
Emergency Admissions via Type 2 A&E in 4 hours                                  0
Emergency Admissions via Type 3 and 4 A&E in 4 hours                            0
Other Emergency admissions (i.e not via A&E)                                    0
Number of patients spending >12 hours from decision to admit to admission       0
month                                                                           0
year                                                                            0
lat                                                                          8010
lon                                                                          8010
dtype: int64

## Data Cleaning

In [60]:
# Convert the 'date' column to datetime format

df['date'] = pd.to_datetime(df['date'])

In [61]:
df.dtypes

date                                              datetime64[ns]
name                                                      object
type_1_departments_major_a&e                             float64
type_2_departments_single_specialty                      float64
type_3_departments_other_a&e_minor_injury_unit           float64
total_attendances                                        float64
type_1_4_hours_decision                                  float64
type_2_4_hours_decision                                  float64
type_3_4_hours_decision                                  float64
pct_in_4_hours_or_less                                   float64
emergency_adm_type_1_a&e                                 float64
emergency_adm_type_2_a&e                                 float64
emergency_adm_type_3_a&e                                 float64
other_emergency_adm                                      float64
patients_12hr_decision_admission                         float64
month                                                    float64
year                                                     float64
lat                                                      float64
lon                                                      float64
dtype: object

In [63]:
#Rename the columns for readability

df.rename(columns={
    "date": "date",
    "Name": "name",
    "Type 1 Departments - Major A&E": "type_1_departments_major_a&e",
    "Type 2 Departments - Single Specialty": "type_2_departments_single_specialty",
    "Type 3 Departments - Other A&E/Minor Injury Unit": "type_3_departments_other_a&e_minor_injury_unit",
    "Total attendances": "total_attendances",
    "Type 1 Departments - 4 hours to decision": "type_1_4_hours_decision",
    "Type 2 Departments - 4 hours to decision": "type_2_4_hours_decision",
    "Type 3 Departments - 4 hours to decision": "type_3_4_hours_decision",
    "Percentage in 4 hours or less (all)": "pct_in_4_hours_or_less",
    "Emergency Admissions via Type 1 A&E in 4 hours": "emergency_adm_type_1_a&e",
    "Emergency Admissions via Type 2 A&E in 4 hours": "emergency_adm_type_2_a&e",
    "Emergency Admissions via Type 3 and 4 A&E in 4 hours": "emergency_adm_type_3_a&e",
    "Other Emergency admissions (i.e not via A&E)": "other_emergency_adm",
    "Number of patients spending >12 hours from decision to admit to admission": "patients_12hr_decision_admission",
    "month": "month",
    "year": "year",
    "lat": "lat",
    "lon": "lon"
}, inplace=True)

df.head(3)

,date,name,type_1_departments_major_a&e,type_2_departments_single_specialty,type_3_departments_other_a&e_minor_injury_unit,total_attendances,type_1_4_hours_decision,type_2_4_hours_decision,type_3_4_hours_decision,pct_in_4_hours_or_less,emergency_adm_type_1_a&e,emergency_adm_type_2_a&e,emergency_adm_type_3_a&e,other_emergency_adm,patients_12hr_decision_admission,month,year,lat,lon
0,2010-11-01,Aintree University Hospitals NHS Foundation Trust,4622.0,0.0,0.0,4622.0,7.0,0.0,0.0,2.995435,1406.0,0.0,0.0,530.0,0.0,44.0,8040.0,53.461606,-2.943427
1,2010-11-01,Airedale NHS Trust,3965.0,0.0,0.0,3965.0,65.0,0.0,0.0,3.934107,892.0,0.0,0.0,568.0,0.0,44.0,8040.0,NaN,NaN
2,2010-11-01,Alder Hey Children’S NHS Foundation Trust,4541.0,0.0,0.0,4541.0,71.0,0.0,0.0,3.937936,1825.0,0.0,0.0,270.0,0.0,44.0,8040.0,50.183000,-5.416000

In [64]:
df.isna().sum()

date                                                 0
name                                                 4
type_1_departments_major_a&e                         0
type_2_departments_single_specialty                  0
type_3_departments_other_a&e_minor_injury_unit       0
total_attendances                                    0
type_1_4_hours_decision                              0
type_2_4_hours_decision                              0
type_3_4_hours_decision                              0
pct_in_4_hours_or_less                               0
emergency_adm_type_1_a&e                             0
emergency_adm_type_2_a&e                             0
emergency_adm_type_3_a&e                             0
other_emergency_adm                                  0
patients_12hr_decision_admission                     0
month                                                0
year                                                 0
lat                                               8010
lon                                               8010
dtype: int64

In [65]:
# Fix missing values using KNN

In [66]:
# Check for missing values in 'lat' and 'lon' before imputation
print("Missing values before imputation:")
print(df[['lat', 'lon']].isnull().sum())

Missing values before imputation:
lat    8010
lon    8010
dtype: int64

In [67]:
# Apply KNN Imputation for missing latitude and longitude

geo_data = df[['lat', 'lon']]
imputer = KNNImputer(n_neighbors=5)  # Adjust the number of neighbors as needed
geo_data_imputed = imputer.fit_transform(geo_data)

In [68]:
# Update the dataset with imputed values

df['lat'], df['lon'] = geo_data_imputed[:, 0], geo_data_imputed[:, 1]

In [69]:
# Check for missing values after imputation

print("Missing values after imputation:")
print(df[['lat', 'lon']].isnull().sum())

Missing values after imputation:
lat    0
lon    0
dtype: int64

In [79]:
df.shape

(27108, 19)

In [71]:
#Drop Nan Values

df = df.dropna()
df.head(2)

,date,name,type_1_departments_major_a&e,type_2_departments_single_specialty,type_3_departments_other_a&e_minor_injury_unit,total_attendances,type_1_4_hours_decision,type_2_4_hours_decision,type_3_4_hours_decision,pct_in_4_hours_or_less,emergency_adm_type_1_a&e,emergency_adm_type_2_a&e,emergency_adm_type_3_a&e,other_emergency_adm,patients_12hr_decision_admission,month,year,lat,lon
0,2010-11-01,Aintree University Hospitals NHS Foundation Trust,4622.0,0.0,0.0,4622.0,7.0,0.0,0.0,2.995435,1406.0,0.0,0.0,530.0,0.0,44.0,8040.0,53.461606,-2.943427
1,2010-11-01,Airedale NHS Trust,3965.0,0.0,0.0,3965.0,65.0,0.0,0.0,3.934107,892.0,0.0,0.0,568.0,0.0,44.0,8040.0,52.216046,-1.794117

In [72]:
df.shape

(27108, 19)

In [73]:
#Save the cleaned data

df.to_csv ('cleaned_AE_attendances_england_monthly.csv')

In [130]:
#Load the clean Dataset

nhs_data = pd.read_csv('cleaned_AE_attendances_england_monthly.csv')

In [131]:
nhs_data.head(3)

,Unnamed: 0,date,name,type_1_departments_major_a&e,type_2_departments_single_specialty,type_3_departments_other_a&e_minor_injury_unit,total_attendances,type_1_4_hours_decision,type_2_4_hours_decision,type_3_4_hours_decision,pct_in_4_hours_or_less,emergency_adm_type_1_a&e,emergency_adm_type_2_a&e,emergency_adm_type_3_a&e,other_emergency_adm,patients_12hr_decision_admission,month,year,lat,lon
0,0,2010-11-01,Aintree University Hospitals NHS Foundation Trust,4622.0,0.0,0.0,4622.0,7.0,0.0,0.0,2.995435,1406.0,0.0,0.0,530.0,0.0,44.0,8040.0,53.461606,-2.943427
1,1,2010-11-01,Airedale NHS Trust,3965.0,0.0,0.0,3965.0,65.0,0.0,0.0,3.934107,892.0,0.0,0.0,568.0,0.0,44.0,8040.0,52.216046,-1.794117
2,2,2010-11-01,Alder Hey Children’S NHS Foundation Trust,4541.0,0.0,0.0,4541.0,71.0,0.0,0.0,3.937936,1825.0,0.0,0.0,270.0,0.0,44.0,8040.0,50.183000,-5.416000

In [132]:
#Drop the unnamed table

nhs_data.pop ('Unnamed: 0')

0            0
1            1
2            2
3            3
4            4
         ...
27103    27106
27104    27107
27105    27108
27106    27109
27107    27110
Name: Unnamed: 0, Length: 27108, dtype: int64

In [133]:
nhs_data.head(2)

,date,name,type_1_departments_major_a&e,type_2_departments_single_specialty,type_3_departments_other_a&e_minor_injury_unit,total_attendances,type_1_4_hours_decision,type_2_4_hours_decision,type_3_4_hours_decision,pct_in_4_hours_or_less,emergency_adm_type_1_a&e,emergency_adm_type_2_a&e,emergency_adm_type_3_a&e,other_emergency_adm,patients_12hr_decision_admission,month,year,lat,lon
0,2010-11-01,Aintree University Hospitals NHS Foundation Trust,4622.0,0.0,0.0,4622.0,7.0,0.0,0.0,2.995435,1406.0,0.0,0.0,530.0,0.0,44.0,8040.0,53.461606,-2.943427
1,2010-11-01,Airedale NHS Trust,3965.0,0.0,0.0,3965.0,65.0,0.0,0.0,3.934107,892.0,0.0,0.0,568.0,0.0,44.0,8040.0,52.216046,-1.794117

In [134]:
nhs_data.shape

(27108, 19)

In [ ]:
# Drop year and month column

In [135]:
nhs_data.drop(nhs_data.columns[[15]], axis=1, inplace=True)

In [137]:
nhs_data.shape

(27108, 18)

In [139]:
nhs_data.drop(nhs_data.columns[[15]], axis=1, inplace=True)

In [140]:
nhs_data.head(2)

,date,name,type_1_departments_major_a&e,type_2_departments_single_specialty,type_3_departments_other_a&e_minor_injury_unit,total_attendances,type_1_4_hours_decision,type_2_4_hours_decision,type_3_4_hours_decision,pct_in_4_hours_or_less,emergency_adm_type_1_a&e,emergency_adm_type_2_a&e,emergency_adm_type_3_a&e,other_emergency_adm,patients_12hr_decision_admission,lat,lon
0,2010-11-01,Aintree University Hospitals NHS Foundation Trust,4622.0,0.0,0.0,4622.0,7.0,0.0,0.0,2.995435,1406.0,0.0,0.0,530.0,0.0,53.461606,-2.943427
1,2010-11-01,Airedale NHS Trust,3965.0,0.0,0.0,3965.0,65.0,0.0,0.0,3.934107,892.0,0.0,0.0,568.0,0.0,52.216046,-1.794117

In [141]:
nhs_data.describe()

,type_1_departments_major_a&e,type_2_departments_single_specialty,type_3_departments_other_a&e_minor_injury_unit,total_attendances,type_1_4_hours_decision,type_2_4_hours_decision,type_3_4_hours_decision,pct_in_4_hours_or_less,emergency_adm_type_1_a&e,emergency_adm_type_2_a&e,emergency_adm_type_3_a&e,other_emergency_adm,patients_12hr_decision_admission,lat,lon
count,27108.000000,27108.000000,27108.000000,27108.000000,27108.000000,27108.000000,27108.000000,27108.000000,27108.000000,27108.000000,27108.00000,27108.000000,27108.000000,27108.000000,27108.000000
mean,4870.616091,196.015583,2443.437103,7510.068778,1740.602036,64.793788,957.727350,2.234724,1362.981223,6.544931,14.84322,492.833296,0.973550,52.216046,-1.794117
std,5514.734636,713.488217,3085.301330,6683.299260,3390.033224,429.343664,2366.798563,1.664939,1577.684692,65.210277,111.32869,665.652049,8.817255,1.244733,5.569214
min,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,40.764096,-83.695900
25%,0.000000,0.000000,0.000000,2458.000000,0.000000,0.000000,0.000000,0.910299,0.000000,0.000000,0.00000,0.000000,0.000000,51.554200,-1.794117
50%,4199.000000,0.000000,1465.000000,5968.000000,173.000000,0.000000,0.000000,1.000000,1066.000000,0.000000,0.00000,217.000000,0.000000,52.216046,-1.794117
75%,8382.250000,0.000000,3646.250000,10784.250000,1357.000000,0.000000,309.000000,3.941222,2359.000000,0.000000,0.00000,789.000000,0.000000,52.859800,-0.609360
max,62312.000000,17570.000000,36710.000000,85576.000000,41194.000000,16308.000000,35992.000000,5.000000,21628.000000,4424.000000,3032.00000,7476.000000,417.000000,55.181000,1.723500

In [144]:
# Before Convertion date to DateTime

nhs_data.dtypes

date                                               object
name                                               object
type_1_departments_major_a&e                      float64
type_2_departments_single_specialty               float64
type_3_departments_other_a&e_minor_injury_unit    float64
total_attendances                                 float64
type_1_4_hours_decision                           float64
type_2_4_hours_decision                           float64
type_3_4_hours_decision                           float64
pct_in_4_hours_or_less                            float64
emergency_adm_type_1_a&e                          float64
emergency_adm_type_2_a&e                          float64
emergency_adm_type_3_a&e                          float64
other_emergency_adm                               float64
patients_12hr_decision_admission                  float64
lat                                               float64
lon                                               float64
dtype: object

In [149]:
# After Convertion date to DateTime
nhs_data['date'] = pd.to_datetime(nhs_data['date'])

In [150]:
nhs_data.dtypes

date                                              datetime64[ns]
name                                                      object
type_1_departments_major_a&e                             float64
type_2_departments_single_specialty                      float64
type_3_departments_other_a&e_minor_injury_unit           float64
total_attendances                                        float64
type_1_4_hours_decision                                  float64
type_2_4_hours_decision                                  float64
type_3_4_hours_decision                                  float64
pct_in_4_hours_or_less                                   float64
emergency_adm_type_1_a&e                                 float64
emergency_adm_type_2_a&e                                 float64
emergency_adm_type_3_a&e                                 float64
other_emergency_adm                                      float64
patients_12hr_decision_admission                         float64
lat                                                      float64
lon                                                      float64
dtype: object

In [151]:
nhs_data.head(3)

,date,name,type_1_departments_major_a&e,type_2_departments_single_specialty,type_3_departments_other_a&e_minor_injury_unit,total_attendances,type_1_4_hours_decision,type_2_4_hours_decision,type_3_4_hours_decision,pct_in_4_hours_or_less,emergency_adm_type_1_a&e,emergency_adm_type_2_a&e,emergency_adm_type_3_a&e,other_emergency_adm,patients_12hr_decision_admission,lat,lon
0,2010-11-01,Aintree University Hospitals NHS Foundation Trust,4622.0,0.0,0.0,4622.0,7.0,0.0,0.0,2.995435,1406.0,0.0,0.0,530.0,0.0,53.461606,-2.943427
1,2010-11-01,Airedale NHS Trust,3965.0,0.0,0.0,3965.0,65.0,0.0,0.0,3.934107,892.0,0.0,0.0,568.0,0.0,52.216046,-1.794117
2,2010-11-01,Alder Hey Children’S NHS Foundation Trust,4541.0,0.0,0.0,4541.0,71.0,0.0,0.0,3.937936,1825.0,0.0,0.0,270.0,0.0,50.183000,-5.416000