## Time serires analysis for NHS Ambulance services

In [1]:
# Load the relevant libraries and load the data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("AE_attendances_england_monthly.csv")

In [4]:
df.head(3)

,Unnamed: 0,date,Name,Type 1 Departments - Major A&E,Type 2 Departments - Single Specialty,Type 3 Departments - Other A&E/Minor Injury Unit,Total attendances,Type 1 Departments - 4 hours to decision,Type 2 Departments - 4 hours to decision,Type 3 Departments - 4 hours to decision,Percentage in 4 hours or less (all),Emergency Admissions via Type 1 A&E in 4 hours,Emergency Admissions via Type 2 A&E in 4 hours,Emergency Admissions via Type 3 and 4 A&E in 4 hours,Other Emergency admissions (i.e not via A&E),Number of patients spending >12 hours from decision to admit to admission,month,year,lat,lon
0,0,2010-11-01,Aintree University Hospitals NHS Foundation Trust,4622.0,0.0,0.0,4622.0,7.0,0.0,0.0,2.995435,1406.0,0.0,0.0,530.0,0.0,44.0,8040.0,53.461606,-2.943427
1,1,2010-11-01,Airedale NHS Trust,3965.0,0.0,0.0,3965.0,65.0,0.0,0.0,3.934107,892.0,0.0,0.0,568.0,0.0,44.0,8040.0,NaN,NaN
2,2,2010-11-01,Alder Hey Children’S NHS Foundation Trust,4541.0,0.0,0.0,4541.0,71.0,0.0,0.0,3.937936,1825.0,0.0,0.0,270.0,0.0,44.0,8040.0,50.183000,-5.416000

## Exploring the Data

In [6]:
# Use the shape function to get the dimension of the dataset

df.shape

(27112, 20)

In [5]:
# Use the describe function to get the statistics of the dataset

df.describe()

,Unnamed: 0,Type 1 Departments - Major A&E,Type 2 Departments - Single Specialty,Type 3 Departments - Other A&E/Minor Injury Unit,Total attendances,Type 1 Departments - 4 hours to decision,Type 2 Departments - 4 hours to decision,Type 3 Departments - 4 hours to decision,Percentage in 4 hours or less (all),Emergency Admissions via Type 1 A&E in 4 hours,Emergency Admissions via Type 2 A&E in 4 hours,Emergency Admissions via Type 3 and 4 A&E in 4 hours,Other Emergency admissions (i.e not via A&E),Number of patients spending >12 hours from decision to admit to admission,month,year,lat,lon
count,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,27112.000000,19102.000000,19102.000000
mean,13555.500000,4869.897499,195.986664,2443.076608,7508.960771,1740.345235,64.784228,957.586050,2.234394,1362.780134,6.543966,14.841030,492.760586,0.973407,14.809937,4938.091804,52.216046,-1.794117
std,7826.704585,5514.645104,713.439553,3085.216457,6683.428695,3389.849054,429.312711,2366.652543,1.665038,1577.655156,65.205515,111.320623,665.629857,8.816612,14.266937,3326.360831,1.482822,6.634475
min,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2010.000000,40.764096,-83.695900
25%,6777.750000,0.000000,0.000000,0.000000,2458.000000,0.000000,0.000000,0.000000,0.910265,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2017.000000,51.416667,-2.166667
50%,13555.500000,4197.000000,0.000000,1464.000000,5966.500000,173.000000,0.000000,0.000000,1.000000,1065.500000,0.000000,0.000000,217.000000,0.000000,9.000000,2020.000000,52.128857,-1.266667
75%,20333.250000,8379.750000,0.000000,3646.000000,10783.250000,1357.000000,0.000000,309.000000,3.941170,2359.000000,0.000000,0.000000,789.000000,0.000000,20.000000,8052.000000,53.208611,-0.281600
max,27111.000000,62312.000000,17570.000000,36710.000000,85576.000000,41194.000000,16308.000000,35992.000000,5.000000,21628.000000,4424.000000,3032.000000,7476.000000,417.000000,60.000000,10075.000000,55.181000,1.723500

In [6]:
# Check for null values and Nan Values

df.isnull().sum()

Unnamed: 0                                                                      0
date                                                                            0
Name                                                                            4
Type 1 Departments - Major A&E                                                  0
Type 2 Departments - Single Specialty                                           0
Type 3 Departments - Other A&E/Minor Injury Unit                                0
Total attendances                                                               0
Type 1 Departments - 4 hours to decision                                        0
Type 2 Departments - 4 hours to decision                                        0
Type 3 Departments - 4 hours to decision                                        0
Percentage in 4 hours or less (all)                                             0
Emergency Admissions via Type 1 A&E in 4 hours                                  0
Emergency Admissions via Type 2 A&E in 4 hours                                  0
Emergency Admissions via Type 3 and 4 A&E in 4 hours                            0
Other Emergency admissions (i.e not via A&E)                                    0
Number of patients spending >12 hours from decision to admit to admission       0
month                                                                           0
year                                                                            0
lat                                                                          8010
lon                                                                          8010
dtype: int64

## Data Cleaning

In [7]:
# Convert the 'date' column to datetime format

df['date'] = pd.to_datetime(df['date'])

In [18]:
df.dtypes

Unnamed: 0                                                                            int64
date                                                                         datetime64[ns]
Name                                                                                 object
Type 1 Departments - Major A&E                                                      float64
Type 2 Departments - Single Specialty                                               float64
Type 3 Departments - Other A&E/Minor Injury Unit                                    float64
Total attendances                                                                   float64
Type 1 Departments - 4 hours to decision                                            float64
Type 2 Departments - 4 hours to decision                                            float64
Type 3 Departments - 4 hours to decision                                            float64
Percentage in 4 hours or less (all)                                                 float64
Emergency Admissions via Type 1 A&E in 4 hours                                      float64
Emergency Admissions via Type 2 A&E in 4 hours                                      float64
Emergency Admissions via Type 3 and 4 A&E in 4 hours                                float64
Other Emergency admissions (i.e not via A&E)                                        float64
Number of patients spending >12 hours from decision to admit to admission           float64
month                                                                               float64
year                                                                                float64
lat                                                                                 float64
lon                                                                                 float64
dtype: object

In [8]:
# Delete Unnamed column

df.pop('Unnamed: 0')

0            0
1            1
2            2
3            3
4            4
         ...
27107    27107
27108    27108
27109    27109
27110    27110
27111    27111
Name: Unnamed: 0, Length: 27112, dtype: int64

In [10]:
#Rename the columns for readability

data.rename(columns={
    "date": "date",
    "Name": "name",
    "Type 1 Departments - Major A&E": "type_1_departments_major_a&e",
    "Type 2 Departments - Single Specialty": "type_2_departments_single_specialty",
    "Type 3 Departments - Other A&E/Minor Injury Unit": "type_3_departments_other_a&e_minor_injury_unit",
    "Total attendances": "total_attendances",
    "Type 1 Departments - 4 hours to decision": "type_1_4_hours_decision",
    "Type 2 Departments - 4 hours to decision": "type_2_4_hours_decision",
    "Type 3 Departments - 4 hours to decision": "type_3_4_hours_decision",
    "Percentage in 4 hours or less (all)": "pct_in_4_hours_or_less",
    "Emergency Admissions via Type 1 A&E in 4 hours": "emergency_adm_type_1_a&e",
    "Emergency Admissions via Type 2 A&E in 4 hours": "emergency_adm_type_2_a&e",
    "Emergency Admissions via Type 3 and 4 A&E in 4 hours": "emergency_adm_type_3_a&e",
    "Other Emergency admissions (i.e not via A&E)": "other_emergency_adm",
    "Number of patients spending >12 hours from decision to admit to admission": "patients_12hr_decision_admission",
    "month": "month",
    "year": "year",
    "lat": "lat",
    "lon": "lon"
}, inplace=True)

,date,Name,Type 1 Departments - Major A&E,Type 2 Departments - Single Specialty,Type 3 Departments - Other A&E/Minor Injury Unit,Total attendances,Type 1 Departments - 4 hours to decision,Type 2 Departments - 4 hours to decision,Type 3 Departments - 4 hours to decision,Percentage in 4 hours or less (all),Emergency Admissions via Type 1 A&E in 4 hours,Emergency Admissions via Type 2 A&E in 4 hours,Emergency Admissions via Type 3 and 4 A&E in 4 hours,Other Emergency admissions (i.e not via A&E),Number of patients spending >12 hours from decision to admit to admission,month,year,lat,lon
0,2010-11-01,Aintree University Hospitals NHS Foundation Trust,4622.0,0.0,0.0,4622.0,7.0,0.0,0.0,2.995435,1406.0,0.0,0.0,530.0,0.0,44.0,8040.0,53.461606,-2.943427
1,2010-11-01,Airedale NHS Trust,3965.0,0.0,0.0,3965.0,65.0,0.0,0.0,3.934107,892.0,0.0,0.0,568.0,0.0,44.0,8040.0,NaN,NaN
2,2010-11-01,Alder Hey Children’S NHS Foundation Trust,4541.0,0.0,0.0,4541.0,71.0,0.0,0.0,3.937936,1825.0,0.0,0.0,270.0,0.0,44.0,8040.0,50.183000,-5.416000